.increasing-wrapper {
    background-image: url('/src/assets/backgrounds/waves.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $main-text-color;
    width: 100%;
    z-index: -2;

    .increasing-box {
        max-width: 900px;
        margin: 0 auto;

        &__title {
            margin: 0;
            padding: 109px 0 20px;

            h2 {
                color: #fff;
                font-weight: 500;
                font-size: 62px;
                line-height: 61px;
            }
        }

        &__desc {
            font-size: 13px;
            line-height: 30px;
        }

        .btn-box {
            margin: 60px 0;
        }
    }
}

@media (min-width:320px) and (max-width:576px) {
    .increasing-wrapper {

        .increasing-box {

            &__title {
                padding: 50px 30px 20px;

                h2 {
                    font-size: 32px;
                    line-height: 45px;
                }
            }

            &__desc {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}