.service {
    background: $background;

    .service-wrapper {
        padding: 161px 215px 100px;

        .service-container {
            display: flex;
            justify-content: center;
            gap: 30px;

            .service-item {
                background: #EAE4DC;
                max-width: 370px;
                padding: 0 62px;

                &__figure {
                    position: relative;
                    padding: 20px 0;

                    img {
                        width: 60px;
                    }
                }

                &__title {
                    margin: 0 12px 10px;
                    max-width: 266px;
                    max-height: 80px;

                    h3 {
                        font-weight: 400;
                        font-size: 36px;
                        line-height: 34px;
                        letter-spacing: -0.02em;
                    }
                }

                &__subtext {
                    max-height: 240px;

                    p {
                        color: $submain-grey;
                        font-weight: 500;
                        line-height: 30px;
                    }
                }

                .more-link {
                    margin: 30px 0 45px;
                    padding: 0;
                }
            }
        }
    }
}