@import '../assets/fonts/fira-sans.scss';
@import '../style/base/variables.scss';
@import '../style/base/re-use-parts.scss';

@import '../style/parts/_header';
@import '../style/parts/_promo';
@import '../style/parts/_clients';
@import '../style/parts/_marketing';
@import '../style/parts/_video';
@import '../style/parts/_service';

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}